body {
  background-image: url("http://www.graciaviva.cat/png/big/13/138961_pixel-art-space-background.png");
  text-align: center;
  color: white;
  height: 100%;
  /*position: relative;*/
}


@keyframes h2{
  25% {color: yellow;}
   0%{color:white;}
  50%{color: green;}
  75% {color: red;}
}

h1 {
  animation: h2 2s infinite;
  font-family:blocks;
  font-size:100px;
  display: inline-block;
  margin-bottom: 9%;
}

h2 {
  position: relative;
  top: 120px;
  left: 0px;
  font-family:blocks;
  font-size:55px;
  color: white;
  text-decoration: none;
  margin-bottom: -12%;
  transition: 1.5s;
  padding: 5px;
  display: inline-block;
}

 @font-face {
  font-family:blocks;
  src: url("../font/baby_blocks.woff");
}

.cadastro {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 350px;
  background: #ffff;
  /*box-shadow: rgb(0, 0, 0) 0px 6px 50px;*/
  opacity: 1;
  position: relative;
  height: 45px;
  border-radius: 29px;
  border: 2px solid rgba(0, 0, 0, 1);
  /*overflow: hidden;*/
  display: inline-block;

}

h2:hover{
  /*animation: h2 2s infinite;*/
  transition: 1s;
  transform: scale(1.2);
  filter: blur(0px)
  opacity: .2;
  color: red;
}
li{
  font-size: 22px;
  position: relative;
  left: -300px;
  top: 140px;
  /*color: purple;*/
}



